.checkout {
  font-family: "Inter", sans-serif;
  max-width: 1320px;
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-column-gap: 30px;

  &__empty {
    border-radius: 10px;
    background: #F7FAFC;
    padding: 37px 45px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

    h1 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  &__main,
  &__summary {
    border-radius: 10px;
    background: #F7FAFC;
    padding: 37px 45px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
  }

  &__nav-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #828282;

    &--active {
      color: #3182CE;
    }
  }

  &__devider {
    position: relative;
    color: #000;
    padding: 0 36px;
    margin: 0 16px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 1px;
      background-color: #3182CE;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0
    }
  }

  &__actions {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid #E2E8F0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.card-success {
  text-align: center;

  h1 {
    color: #0271fa;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }

  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }

  i {
    color: #0271fa;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }

  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }

  &__bg {
    border-radius:200px;
    height:200px;
    width:200px;
    background: #d7e8ff;
    margin:0 auto;
  }


}
