//@import "global/fonts";
// import 'react-phone-input-2/lib/style.css';

@import "react-phone-number-input/style.css";
@import "old-theme";

@import "global/form";
@import "global/text";

@import "components/shopping-cart";
@import "components/cd-btn";
@import "components/button";
@import "components/progress-bar";
@import "pages/checkout";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
